
body {
    margin: 10px;
}

main {
    display: flex;
}

section {
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: center;
}

.search-city {
    width: 25%;
    margin: 10px 20px 0 10px;
    padding: 10px 0 10px 10px;
    background-color: #DCDCDC;
}

.search-button-panel {
    margin-left: -52px;
}

.city-list-box {
    margin-top: 5px;
}

.city-name {
    width: 89%;
}

.results-panel {
    width: 75%;
    padding-bottom: 10px;
    visibility: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.today-weather-display {
    border: 1px solid #C0C0C0;
    border-right: none;
    padding-left: 20px;
    padding-bottom: 30px;
}


.name-block{
    display: flex;
    align-items: center;
}

.forecast-panel {
    padding-top: 50px;
}

.container {
    display: inline;
}

.card-header,
.card-body {
    text-align: center;
}

.card-header {
    background-color: blue;
    color: white;
}

.card-body {
    background-color: #DCDCDC;
}

